/*Reset Css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	}
/* Custom Css */
body {
  background-color: #15262A;
  font-family: Times New Roman;
  color: white;
}
.intro {
  text-align: center;
  font-size: 40px;
  margin: 150px;
  margin-bottom: 25px;
}
.introimg {
  padding-left: 580px;
}
.introbutton {
    margin-left: 648px;
    margin-top: 15px
}
button {
  border-radius: 5px;
  padding: 3px;
}
.question, .finalanswer, .finaloutput {
  text-align: center;
  font-size: 40px;
  margin: 150px;
  margin-bottom: 25px;
  display: none;
  color: white;
}
.finaloutput {
  margin-bottom: -110px;
}